
.loging-container{
   background-color:gainsboro;
   margin: 10px;
   padding: 40px;
   text-align: center;
   border-radius: 15px;
   
  
   
}
.input-group{
   margin: 10px;
   padding: 10px;
   
}
#username{
   border-radius: 5px;
}
#Password{
   border-radius: 5px;
}
#submits{
   border-radius: 5px;
   background-color:bisque;

}
.main{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color:beige;
}